.add-container {
  max-width: 600px;
  min-width: none;
  min-height: 119px;
  border-bottom: 1px solid #2f3336;
  display: flex;
  flex-direction: column;
}

.add-container img {
  width: 50px;
  height: 50px;

  border-radius: 45px;
}

.profile-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  gap: 15px;
}

.profile-details textarea {
  width: 100%;
  overflow: hidden;
  height: max-content;
  border: none;
  outline: none;
  background-color: transparent;
  color: #f9f9f9;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  resize: none;
  position: relative;
  top: 8px;
}

.profile-details textarea::placeholder {
  color: #6e767d;
  font-family: "Segoe UI", "helvetica", "sans-serif";
}

form button {
  display: flex;
  width: 79px;
  height: 36px;
  padding: 0;
  align-items: center;
  flex-shrink: 0;
  border-radius: 36px;
  background: #1d9bf0;
  color: #f9f9f9;
  cursor: pointer;
  align-self: flex-end;
  margin-right: 15px;
}
form button p {
  padding: 5px 16px 9px;
  box-sizing: content-box;
}

@media screen and (max-width: 600px) {
  form button {
    margin-right: 5vw;
  }
}
