.nav-container {
  min-width: 300px;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 98vh;
}

.nav-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 20px;
  gap: 8px;
  max-height: 398px;
}

.nav-top img {
  filter: invert(1);
  width: 24px;
  height: 24px;
}

.nav-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 19px;
  gap: 20px;
  height: 50px;
  position: relative;
  padding: 10px 20px;
  left: -10px;
}

.nav-row:first-child p {
  display: none;
}

.nav-row:hover {
  background-color: #1a1a1a;
  border-radius: 30px;
  cursor: pointer;
}

#tweet-btn {
  position: absolute;
  top: 534px;
  background-color: #1da1f2;
  color: #fff;
  border-radius: 30px;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  cursor: pointer;
  width: 225px;
  height: 52px;
  padding: 16px 0px;
  transition: background-color 0.2s ease-in-out;
}

#tweet-btn p {
  display: none;
}

#tweet-btn:hover,
#tweet-btn:focus {
  background-color: rgb(29, 161, 242, 0.8);
  outline: none;
}

.bottom-nav {
  width: 290px;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-nav:hover {
  cursor: pointer;
  background-color: #1a1a1a;
  border-radius: 30px;
}

.notification {
  display: flex;
  width: 18px;
  height: 18px;
  padding: 2px 6px 3px 6px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 18px;
  border: 1px solid #000;

  background: #1d9bf0;
  position: absolute;
  top: 5px;
  left: 30px;
}

.notification p {
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}

#tweet-btn svg {
  visibility: hidden;
}

@media screen and (max-width: 1300px) {
  .nav-container {
    min-width: 88px;
    max-width: 88px;
  }

  .nav-row {
    padding: 0px;
    left: 0px;
  }

  .nav-row p {
    display: none;
  }

  .nav-top {
    width: max-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  #tweet-btn span {
    display: none;
  }

  #tweet-btn {
    width: max-content;
    padding: 6px 12px;
    border-radius: 50%;
  }

  #tweet-btn p {
    display: block;
  }

  #tweet-btn svg {
    visibility: visible;
    width: 24px;
    height: 24px;
  }

  .user-info.navbar-profile p,
  .locked {
    display: none;
  }

  .tweet-svg {
    display: block;
  }

  .navbar-username {
    display: none;
  }

  .bottom-nav {
    min-width: max-content;
  }

  .notification {
    left: 10px;
  }

  .notification p {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .nav-container {
    display: none;
  }
}
