.followList-container {
  display: flex;
  width: 350px;
  max-height: 314px;
  flex-direction: column;
  border-radius: 15px;
  background: #3a3d45;
  margin: 12px auto;
}

.followList-container h2 {
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 12px 16px;
  max-height: 48px;
}

.profile-list {
  list-style: none;
  display: flex;
  gap: 50px;
  padding: 12px 16px;
}

.profile-list button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 32px;
  color: #0f1419;
  background-color: #eff3f4;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  padding: 0px;
  top: 10px;
  max-width: 73px;
  max-height: 31px;
  box-sizing: content-box;
}

.profile-list button p {
  padding: 7px 15px;
}
